// Start

<TMPL_var (int + float)>
<TMPL_var ((int + float) / neg_int)>
<TMPL_var ((int + float) / neg_int * string_float)>
<TMPL_var ((int + float) / neg_int * string_float div ARRAY_ELEMENT(2, array_int))>
<TMPL_var ((int + float) / neg_int * string_float div ARRAY_ELEMENT(2, array_int) mod 5)>

// End.